*{
    box-sizing:border-box;
    font-family:arial;
    margin:0;
    padding:0;
}
main{
    width:600px;
    margin:0 auto;
    background-color:cyan;
}
.app-title{
    text-align:center;
}
.perguntas-area{
    width:400px;
    margin:0 auto;
}
.perguntas-area input{
    width:100%;
    font-size:18px;
    padding:5px 5px;
    outline:0;
}
.perguntas-e-respostas{
    width:100%;
    height:calc(100vh - 105px);
    background-image:url("https://xtibia.com/forum/uploads/monthly_2016_04/mini.png.a11c5c6ce6698cf43295eb51829e97f1.png");
    background-size:cover;
    background-position:center;
    border:1px solid #000;
    margin-top:2em;
    overflow:auto;
}

.resposta{
    font-size:18px;
    padding:5px 3px;
    border:1px solid #000;
    background-color:white;
}
.certo{
    color:green;
    font-size:20px;
    font-weight:bold;
}
.errado{
    color:red;
    font-size:20px;
    font-weight:bold;
}

@media screen and (max-width:600px){
    main{
        width:auto;
    }
    .perguntas-area{
        width:85%;
    }
    .perguntas-area input{
        background-color:#fff;
        border:1px solid #000;
        border-radius:5px;
    }
}