*{
    box-sizing:border-box;
    font-family:arial;
    margin:0;
    padding:0;
}
main{
    width:600px;
    margin:0 auto;
    background-color:cyan;
}
.app-title{
    text-align:center;
}
.perguntas-area{
    width:400px;
    margin:0 auto;
}
.perguntas-area input{
    width:100%;
    font-size:18px;
    padding:5px 5px;
    outline:0;
}
.perguntas-e-respostas{
    width:100%;
    height:calc(100vh - 105px);
    background-color:white;
    border:1px solid #000;
    margin-top:2em;
    overflow:auto;
}

.resposta{
    font-size:18px;
    padding:5px 3px;
    border:1px solid #000;
}
.certo{
    color:green;
    font-size:20px;
    font-weight:bold;
}
.errado{
    color:red;
    font-size:20px;
    font-weight:bold;
}